{% include "stats/navbar.html" %}


    Ranking of participants who obtained the most medals in the year {{ year }} <br><br>
    <table>
        <tr>
            <th>Name</th>
            <th>Number of gold medals</th>
            <th>Number of silver medals</th>
            <th>Number of bronze medals</th>
        </tr>
        {% for item in res %}
            <tr>
                <td>{{ item.player_id__name }}</td>
                <td>{{ item.gold_counts }}</td>
                <td>{{ item.silver_counts }}</td>
                <td>{{ item.bronze_counts }}</td>
            </tr>
        {% endfor %}
    </table>


{% include "stats/footer.html" %}
