{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'stats/styl.css' %}">

<script src="{% static 'stats/scripts/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'stats/scripts/naglowek.js' %}"></script>


<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="UTF-8"/>
	
	<title>Olympic statistics </title>
	
	<!--<link rel="stylesheet" href="styl.css" type="text/css" /> --><!--PODPIĘCIE CSS-->
	
	<!--CZCIONKI-->
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
	<!--CZCIONKI-KONIEC-->
	
	
	<!--<script src="scripts/jquery-3.1.1.min.js"></script>--><!--PODPIĘCIE BIBLIOTEKI-->
	<!--<script src="scripts/naglowek.js"></script>--><!--PODPIĘCIE SLAJDÓW W NAGLÓWKU-->

		
	<script> //SKRYPT ODPOWIADA ZA POJAWIENIE SIĘ PRZYCISKY SKROLUJĄCEGO DO GÓRY 
	         //(przydatne przy wyświetlaniu dużych tabel)
		
		jQuery(function($)
		{
			//zresetuj scrolla
			$.scrollTo(0);
			
			$('.scrollup').click(function() { $.scrollTo($('body'), 1000); });
		}
		);
		
		//pokaż podczas przewijania
		$(window).scroll(function()
		{
			if($(this).scrollTop()>200) $('.scrollup').fadeIn();
			else $('.scrollup').fadeOut();		
		}
		);
	
	</script>
	
</head>
<body onload="change()">



	<a href="#" class="scrollup"></a>

	<div class="calosc">
		<div class="naglowek"><div id="nag"></div></div>
		<div class="informacje">
			<span class="tytul-strony"></br>
			    Olympic statistics 
			</span>
			<div class="kropeczki"></div>


            <p>  Below is a list of questions that our application can answer. </p>
            <ul>
                <li> <a href="countries_by_medals.html"> Show country rankings by number of medals of color ... in the year ...  </a> </li> 
                <li> <a href="Qathletes_by_medals.html"> Show the ranking of participants who obtained the most medals in the year  ... </a> </li> 
                <li> <a href="Qcountries_by_athletes_count.html"> Show the rankings of the countries with the most players in the year  ... </a> </li> 
                <li> <a href="Qsex_percentage.html"> Show what percentage of all participants were women / men in the year  ...  </a> </li> 
                <li> <a href="Qsport_by_athlete_count.html"> Show the sports rankings after the one with the most entrants in the year  ...  </a> </li> 
                <li> <a href="Qathletes_by_weight.html"> Show the ranking of the heaviest participants of the year ...  </a> </li> 
                <li> <a href="Qathletes_by_age.html"> Show the ranking of the oldest athletes of the year  ... </a> </li> 
                <li> <a href="Qcountries_by_gold_medals.html"> Show the ranking of gold medals for the country ... broken down by Olympics  </a>
               
            </ul>

            <span> <a href="add_data.html"> Add new data to the database</a>  </span>
            
		</div>

	</div>
	

	
</body>
</html>

