{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'stats/styl.css' %}">
<script src="{% static 'stats/scripts/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'stats/scripts/naglowek.js' %}"></script>

<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>

    <title>Olympic statistics </title>

    <!--CZCIONKI-->
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!--CZCIONKI-KONIEC-->

    <script> //SKRYPT ODPOWIADA ZA POJAWIENIE SIĘ PRZYCISKY SKROLUJĄCEGO DO GÓRY
    //(przydatne przy wyświetlaniu dużych tabel)

    jQuery(function ($) {
            //zresetuj scrolla
            $.scrollTo(0);

            $('.scrollup').click(function () {
                $.scrollTo($('body'), 1000);
            });
        }
    );

    //pokaż podczas przewijania
    $(window).scroll(function () {
            if ($(this).scrollTop() > 200) $('.scrollup').fadeIn();
            else $('.scrollup').fadeOut();
        }
    );

    </script>
</head>

<body onload="change()">
<a href="#" class="scrollup"></a>

<div class="calosc">
    <div class="naglowek">
        <img id="nag" class="slajd-naglowek"/>
    </div>
    <div class="informacje">
			<span class="tytul-strony">
                Olympic statistics
			</span>
        <div class="kropeczki"></div>


        <p> That's what our application can do: </p>
        <ul>
            <li><a href="Qby_age"> Rank athletes competing in a given Olympics by their age </a></li>
            <li><a href="Qathletes_by_medals"> Rank athletes competing in a given Olympics by won medals </a></li>
            <li><a href="Qby_weight"> Rank athletes competing in a given Olympics by their weight </a></li>
            <li><a href="Qby_players"> Rank participating countries by number of representing athletes </a></li>
            <li><a href="Qby_gold_medals"> Show number of gold medals won by a given country over the years </a></li>
            <li><a href="Qcountries_by_medals"> Rank countries by number of won medals of particular color in a given year </a></li>
            <li><a href="Qby_mean_height"> Show the average height of females and males in a given year </a></li>
            <li><a href="Qby_gender_ratio"> Show sex demographics in a given year </a></li>
            <li><a href="Qby_athlete_count"> Rank disciplines by number of participants in a given year </a></li>
        </ul>

        <span> <a href="add_data"> Add statistics to the database </a>  </span> <br><br>
        
        <span> <a href="delete_data"> Delete athlete results from the database </a>

    </div>

</div>
</body>
</html>

